.user-list-item{
    background-color: aqua;
    margin-top: 1%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-detail{
    color: white;
    background-color: green;
    border:none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}
.user-detail:hover{
    background-color: lightgreen;
}
.user-supress {
    color: white;
    background-color: red;
    border:none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.user-supress:hover {
    background-color: lightcoral;
}