.main-content {
    background-image: url("https://www.lepoint.fr/images/2021/01/28/21290061lpw-21290068-article-argent-bonheur-bienetre-jpg_7669420_1250x625.jpg");
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}