.user-profile{
    background-color: beige;
    margin-top: 1%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
